spring:
  datasource:
    url: jdbc:sqlserver://TU_HOST_REAL:1433;databaseName=CuatrimestreApp;encrypt=true;trustServerCertificate=true
    username: SA
    password: 123456789
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    database-platform: org.hibernate.dialect.SQLServerDialect
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

  liquibase:
    enabled: false

server:
  port: 8080

jhipster:
  security:
    authentication:
      jwt:
        base64-secret: YmFiZGJmMjg3NDZiMjVkODJlNzU1MDAyZDMzNmQyNmMyZDk4NTYxODFkMWJhZmZiNjZkZjYwODVkNjE5OTE5MDI5OTg4YTM1OTNmYTlkNzdjOThlNWQ3MGY2NDE1MzVmY2Q0MjkwZjA1MWRmNzg0NjgyY2NiYTYwZDRiNmMwNGY=
