spring:
  datasource:
    url: jdbc:h2:mem:cuatrimestre;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    open-in-view: false

  liquibase:
    enabled: false

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

jhipster:
  security:
    authentication:
      jwt:
        base64-secret: YmFiZGJmMjg3NDZiMjVkODJlNzU1MDAyZDMzNmQyNmMyZDk4NTYxODFkMWJhZmZiNjZkZjYwODVkNjE5OTE5MDI5OTg4YTM1OTNmYTlkNzdjOThlNWQ3MGY2NDE1MzVmY2Q0MjkwZjA1MWRmNzg0NjgyY2NiYTYwZDRiNmMwNGY=
